@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html{
	overflow-x: hidden;
}
body{
	margin-bottom: -10px;
	font-family: 'Roboto', sans-serif;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #121212;
    width: 100%;
    z-index: 10;
}
a{
    text-decoration: none;
    color: white;
}
nav{
	width: 100%;
	height: 45px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 0 50px;
}
li {
	padding-bottom: 0px; 
	list-style: none;
	margin: 0px 25px;
}
ul {
	width: 350px;
	display: flex;
	flex-direction: row;
}
main{
	margin-top: 55px;
	text-align: center;
}
footer{
	height: 30px;
	padding-top: 15px;
	background-color: #eee;
	font-size: 12px;
	text-align: center;
	margin: 8px -10px -10px;
}
.aboutSect{
	height: 96vh;
	background: linear-gradient(to bottom, #121212, #252525 );
	margin: -10px -10px -8px;
    color: white;
    padding-top: 10vh;
}
.aboutGrid{
	display: grid;
    grid-template-columns: auto auto;
    width: 75%;
    margin: auto;
}
.contGrid{
	width: 800px;
	margin: auto;
}
.projGrid{
	display: grid;
	grid-template-columns: auto auto auto;
}
.animated {
	-webkit-animation-duration: 2.5s;
animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
	0%, 20%, 80%, 100% {-webkit-transform: translateY(0);}
	50% {-webkit-transform: translateY(-15px);}
} 

@keyframes bounce { 
	0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
	50% {transform: translateY(-15px);}
} 

.bounce { 
	-webkit-animation-name: bounce;
	animation-name: bounce;
	position: absolute;
	margin-top: 85vh;
	margin-left: 48vw;
	cursor: pointer;
	color: white;
}
.bounce:hover{
	color: orange;
}
.nav-link{
	text-decoration: none;
	color: white;
	padding-bottom: 8px;
	cursor: pointer;
}
.nav-link:hover{
	border-bottom: 2px solid orange;
	color: orange;
}
.mediaLink{
	margin: 8px;
	color: black;
}
.mediaLink:hover{
	color: orange;
}
.thumb{
	height: 280px;
	width: 380px;
    border-radius: 8px;
    margin: auto;
}
.projCell{
	margin: 20px;
}
.projCell:hover .thumb {
    opacity: 0.3;
} 
.projCell:hover .overlay {
    opacity: 1;
 }
.imThumb{
    border-radius: 50%;
    box-shadow: 0 0 2px 2px orange;
    height: 500px;
    margin: auto;
}
.name{
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.bio{
    color: orange;
}
.overlay{
    transition: .5s ease;
    opacity: 0;
    position: relative;
    transform: translate(0px, -150px);
    -ms-transform: translate(0px, -150px);
    text-align: center;
}
.text{
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    z-index: 5;
    width: 25%;
    border-radius: 3px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
    margin: auto;
}
.projName{
    color: orange;
}
#about{
    padding: 0px 75px;
    width: 500px;
    margin: auto;
}
#email{
    color: blue;
}